// *, *::before, *::after { box-sizing: border-box }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Roboto:wght@100;400&display=swap');

// $breakpoint-tablet: 768px;

// @media (min-width: $b)


$color-red: #E92F03;
$color-orange: #E13C12;
$color-dark-grey1: #323232;
$color-dark-grey2:#353534;
$color-light-grey:#838383;
$color-white: #FFFFFF;
$color-dark-white:#F2F2F2;
$color-black: #201B19;

$font-Montserrat: 'Montserrat', sans-serif;
$font-Roboto: 'Roboto', sans-serif;
$bold: 800;
$medium: 500;
$semiBold: 600;
$thin: 100;
$margine-main-module: 390px;


.navbar-module__dropButton::after {
    content: " ";
    margin-left:10px;
    display: inline-block;
    border-right: 2px solid $color-orange;
    border-bottom: 2px solid $color-orange;
    width: 10px;
    height: 10px;
    transform: rotate(-315deg);
}

body {
    padding: 0px;
    margin: 0;
    background: #ffffff;
    // @include for-tablet-portrait-up {
    //     border:11px solid red !important;
    // }
}

.navbar-module {
    height: 80px;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-image: url('https://www.planetizen.com/files/images/sunlight.jpg');
    position: fixed;
    display: flex;
    top: 0;
    
    &-wrapper {
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding: 0 48px;
    }

    &__navigation {
        display: flex; 
        justify-content: end;     
        list-style-type: none; 
        height: 50px;
    }

    &__logo {
        display: flex;
        align-items: center;
    }

    &__svgLogo {
        height: 26px;
    }

    &__dropDownList {
        padding: 10px;
        left: auto;
        
        &--active {
            border-bottom-style: dashed;
        }
    }

    &__dropButton {
        right: auto;
        background-color: transparent;
        font-family: $font-Montserrat;
        font-weight: $bold;
        border: transparent;
        font-size: 16px;    
    }
  
    &__link {
        padding: 10px;
        font-family: $font-Montserrat
    }

    &__element {
    text-decoration: none;
    color:  $color-dark-grey2;
    font-size: 16px;
    }

    &__projects {
        padding: 10px;
    }
    &__button {
        margin-left: 16px;
        padding: 16px 32px;
        background-color: $color-red;
        text-decoration: none;
        border: none;
        font-family: $font-Montserrat;
        color: $color-white;
        font-size: 16px;
    }

}

.main-module-wrapper:before {
    content: "";
    position: absolute;
}

.header-module {
    background-image: url('https://www.planetizen.com/files/images/sunlight.jpg');
   width: 100%;
    max-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
}

.main-module-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
}

.main-module {
    width:100%;
    display: flex;
    flex-direction: column;
    height: 100px;

    &__infoNTH {
        font-family: $font-Montserrat;
        font-weight: $bold;
        font-size: 60px;
        width:850px;
        // @include phone {
        //     border:11px solid pink;
        //     font-size: 15px;
        // }
        // @include tablet {
        //     border:11px solid red;
        //     font-size: 30px;
        // }
        
    }

    &__logoNTH-data {
        height: 200px;
    }

    &__citiesNTH {
        height: 16px;
        font-family: $font-Montserrat;
        color: $color-dark-grey1;
        margin-left: 250px;
    }
}
.read-more-module-conpanyInfo--container {
    display: grid;
    background-color: $color-dark-white;
}
// .container {
//     padding-right: 360px;
//     padding-left: 360px;
// }

.read-more-module-companyInfo {
 margin-left: 10%;
    margin-top: -20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $color-dark-white;
    font-family: $font-Montserrat;
    height: 200px;
    width: 80%;
    justify-items: center;
    align-items: center;  
               

        &__employees {
            grid-column: 2;
            font-size: 1rem;

            &--size {
                margin-top: 20px;
                font-size: 1.3rem;
                font-weight: $semiBold;
            }      
        }

        &__establishment {
            grid-column-start: 6;
            grid-column-end: 7;
            font-size: 1rem;

            &--size {
                font-size: 1.3rem;
                margin-top: 20px;
                font-weight: $semiBold;
            }
        }

        &__industry {
            grid-column-start: 10;
            grid-column-end: 12;
            font-size: 1rem;

            &--size {
                font-size: 1.3rem;
                margin-top: 20px;
                font-weight: $semiBold;
            }
        }
}
.red-more-module-servicesProvided__technologyIcon--size {
    height: 70px;
}
.red-more-module-servicesProvided {
    padding-left: $margine-main-module;
    padding-right: $margine-main-module;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    margin-top: 8rem;
    

    &__title {
        grid-column-start: 3;
        grid-column-end: 10;
        grid-template-columns: auto;
        font-family: $font-Montserrat;
        color: $color-dark-grey1;
        font-size: 1rem;
        font-weight: $medium;
    }

    &__body {
        grid-column-start: 3;
        grid-column-end: 10;
        font-family: $font-Roboto;
        font-size: 1rem;
        
    }

    &__technology {
        grid-column-start: 3;
        grid-column-end: 10;
        font-weight: $medium;
        font-family: $font-Montserrat;
        margin-top: 1rem;        
    }
}

@media only screen and (max-width: 1024px) { 
    .header-module  {
    
    }
}

