@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("/img/city.jpg");
.navbar-module__dropButton::after {
  content: " ";
  margin-left: 10px;
  display: inline-block;
  border-right: 2px solid #E13C12;
  border-bottom: 2px solid #E13C12;
  width: 10px;
  height: 10px;
  transform: rotate(-315deg);
}

body {
  padding: 0px;
  margin: 0;
  background: #ffffff;
}

.navbar-module {
  height: 80px;
  width: 100%;
  max-width: 100vw;
  background-image: url("https://www.planetizen.com/files/images/sunlight.jpg");
  position: fixed;
  display: flex;
  top: 0;
}

.navbar-module-wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
  padding: 0 48px;
}

.navbar-module__navigation {
  display: flex;
  justify-content: end;
  list-style-type: none;
  height: 50px;
}

.navbar-module__logo {
  display: flex;
  align-items: center;
}

.navbar-module__svgLogo {
  height: 26px;
}

.navbar-module__dropDownList {
  padding: 10px;
  left: auto;
}

.navbar-module__dropDownList--active {
  border-bottom-style: dashed;
}

.navbar-module__dropButton {
  right: auto;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border: transparent;
  font-size: 16px;
}

.navbar-module__link {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

.navbar-module__element {
  text-decoration: none;
  color: #353534;
  font-size: 16px;
}

.navbar-module__projects {
  padding: 10px;
}

.navbar-module__button {
  margin-left: 16px;
  padding: 16px 32px;
  background-color: #E92F03;
  text-decoration: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 16px;
}

.main-module-wrapper:before {
  content: "";
  position: absolute;
}

.header-module {
  background-image: url("https://www.planetizen.com/files/images/sunlight.jpg");
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-module {
  width: 100%;
  display: flex;
  align-items: center;
  height: 250px;
}

.main-module__infoNTH {
  height: 365px;
  font: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 65;
}

.grid-item {
  font-weight: 800;
  font-size: 32px;
  padding: 20px;
}

.item-1 {
  background: #DC2626;
}

.item-2 {
  background: #059669;
}

.item-3 {
  background: #f59e0b;
}

.item-4 {
  background: #7c3aed;
  grid-column: 7/ 10;
  grid-row: 3 / 5;
}

.item-4__name {
  text-align: left;
}

.item-5 {
  background: #2563eb;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 30px);
  grid-auto-rows: minmax(100px, aoto);
  row-gap: 20px;
  column-gap: 15px;
  justify-content: center;
}
