@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Roboto:wght@100;400&display=swap");
:root {
  font-size: 10px;
}

.navbar-module__dropButton::after {
  content: " ";
  margin-left: 10px;
  display: inline-block;
  border-right: 0.2rem solid #E13C12;
  border-bottom: 0.2rem solid #E13C12;
  width: 1rem;
  height: 1rem;
  transform: rotate(-315deg);
}

@media (min-width: 340px) {
  .navbar-module__dropButton::after {
    width: 0.5rem;
    height: 0.5rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__dropButton::after {
    width: 0.7rem;
    height: 0.7rem;
  }
}

body {
  padding: 0px;
  margin: 0;
  background: #ffffff;
}

.navbar-module {
  height: 8rem;
  width: 100%;
  height: auto;
  background-image: url("https://www.planetizen.com/files/images/sunlight.jpg");
  position: fixed;
  display: flex;
  top: 0;
}

@media (min-width: 340px) {
  .navbar-module {
    width: auto;
    justify-content: last baseline;
  }
}

@media (min-width: 768px) {
  .navbar-module {
    width: auto;
    justify-content: last baseline;
  }
}

@media (min-width: 1024px) {
  .navbar-module {
    width: 100%;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .navbar-module {
    width: 100%;
  }
}

.navbar-module-wrapper {
  display: flex;
}

@media (min-width: 340px) {
  .navbar-module-wrapper {
    width: auto;
    padding: 0 0 0 0;
    justify-content: last baseline;
  }
}

@media (min-width: 768px) {
  .navbar-module-wrapper {
    width: auto;
  }
}

@media (min-width: 1024px) {
  .navbar-module-wrapper {
    width: 100%;
    justify-content: space-between;
    padding: 0 4.8rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module-wrapper {
    width: 100%;
  }
}

.navbar-module__navigation {
  display: flex;
  justify-content: end;
  list-style-type: none;
  height: 5rem;
}

@media (min-width: 340px) {
  .navbar-module__navigation {
    height: 2rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__navigation {
    height: 3rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__navigation {
    height: 4rem;
    justify-content: end;
  }
}

@media (min-width: 1200px) {
  .navbar-module__navigation {
    height: 5rem;
    justify-content: end;
  }
}

.navbar-module__logo {
  display: flex;
  align-items: center;
}

.navbar-module__svgLogo {
  height: 2.6rem;
}

@media (min-width: 340px) {
  .navbar-module__svgLogo {
    height: 1.3rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__svgLogo {
    height: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__svgLogo {
    height: 2.0rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__svgLogo {
    height: 2.6rem;
  }
}

.navbar-module__dropDownList {
  padding: 1rem;
  left: auto;
}

@media (min-width: 340px) {
  .navbar-module__dropDownList {
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__dropDownList {
    padding: 0rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__dropDownList {
    padding: 0.2rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__dropDownList {
    padding: 1rem;
  }
}

.navbar-module__dropDownList--active {
  border-bottom-style: dashed;
}

@media (min-width: 340px) {
  .navbar-module__dropDownList--active {
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__dropDownList--active {
    padding: 0rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__dropDownList--active {
    padding: 0.2rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__dropDownList--active {
    padding: 1rem;
  }
}

.navbar-module__dropButton {
  right: auto;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border: transparent;
  font-size: 1.6rem;
}

@media (min-width: 340px) {
  .navbar-module__dropButton {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__dropButton {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__dropButton {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__dropButton {
    font-size: 1.6rem;
  }
}

.navbar-module__link {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 340px) {
  .navbar-module__link {
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__link {
    padding: 0rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__link {
    padding: 0.2rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__link {
    padding: 1rem;
  }
}

.navbar-module__element {
  text-decoration: none;
  color: #353534;
  font-size: 1.6rem;
}

@media (min-width: 340px) {
  .navbar-module__element {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__element {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__element {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__element {
    font-size: 1.6rem;
  }
}

.navbar-module__projects {
  padding: 10px;
}

@media (min-width: 340px) {
  .navbar-module__projects {
    padding: 0rem;
  }
}

@media (min-width: 768px) {
  .navbar-module__projects {
    padding: 0rem;
  }
}

@media (min-width: 1024px) {
  .navbar-module__projects {
    padding: 0.2rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__projects {
    padding: 1rem;
  }
}

.navbar-module__button {
  margin-left: 1.6rem;
  padding: 1.6rem 3.2rem;
  background-color: #E92F03;
  text-decoration: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 1.6rem;
}

@media (min-width: 340px) {
  .navbar-module__button {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .navbar-module__button {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .navbar-module__button {
    font-size: 1.4rem;
    margin-left: 0.8rem;
    padding: 1rem 2rem;
  }
}

@media (min-width: 1200px) {
  .navbar-module__button {
    font-size: 1.6rem;
  }
}

.main-module-wrapper:before {
  content: "";
  position: absolute;
}

.header-module {
  background-image: url("https://www.planetizen.com/files/images/sunlight.jpg");
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
}

@media (min-width: 340px) {
  .header-module {
    width: auto;
    margin: 0;
    padding: 0;
    align-items: start;
  }
}

@media (min-width: 768px) {
  .header-module {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    align-items: start;
  }
}

@media (min-width: 1024px) {
  .header-module {
    font-size: 1.4rem;
    margin-left: 0.8rem;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .header-module {
    font-size: 1.6rem;
    align-items: center;
  }
}

.main-module-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 340px) {
  .main-module-wrapper {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-direction: row;
    align-items: end;
  }
}

@media (min-width: 768px) {
  .main-module-wrapper {
    font-size: 1.2rem;
    padding: 0;
    align-items: end;
  }
}

@media (min-width: 1024px) {
  .main-module-wrapper {
    font-size: 1.4rem;
    margin-left: 20.0rem;
    margin-right: 20.0rem;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .main-module-wrapper {
    font-size: 1.6rem;
    margin-left: 30.0rem;
    margin-right: 30.0rem;
    align-items: center;
  }
}

.main-module {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100px;
}

.main-module__infoNTH {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media (min-width: 340px) {
  .main-module__infoNTH {
    width: auto;
    font-size: 2rem;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .main-module__infoNTH {
    font-size: 3rem;
    padding: 0;
    align-items: center;
    width: 30rem;
  }
}

@media (min-width: 1024px) {
  .main-module__infoNTH {
    font-size: 5rem;
    align-items: center;
    width: 60rem;
  }
}

@media (min-width: 1200px) {
  .main-module__infoNTH {
    font-size: 6rem;
    align-items: center;
    width: 85rem;
  }
}

@media (min-width: 340px) {
  .main-module__logoNTH-data {
    height: 10rem;
  }
}

@media (min-width: 768px) {
  .main-module__logoNTH-data {
    height: 14rem;
  }
}

@media (min-width: 1024px) {
  .main-module__logoNTH-data {
    height: 18rem;
  }
}

@media (min-width: 1200px) {
  .main-module__logoNTH-data {
    height: 20rem;
  }
}

.main-module__citiesNTH {
  height: 1.6rem;
  font-family: "Montserrat", sans-serif;
  color: #323232;
}

@media (min-width: 340px) {
  .main-module__citiesNTH {
    height: 1.6rem;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .main-module__citiesNTH {
    margin-left: 10rem;
  }
}

@media (min-width: 1200px) {
  .main-module__citiesNTH {
    margin-left: 25rem;
  }
}

.read-more-module-conpanyInfo--container {
  display: grid;
  background-color: #F2F2F2;
}

.read-more-module-companyInfo {
  margin-left: 15%;
  margin-top: -20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  background-color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  height: 200px;
  width: 70%;
}

.read-more-module-companyInfo__employees {
  grid-column: 2;
  grid-row: 3;
  align-self: start;
  font-size: 1.6rem;
}

.read-more-module-companyInfo__employeesNumber--size {
  grid-row: 4;
  font-size: 1.9rem;
  font-weight: 600;
  grid-column: 2;
  justify-self: start;
  align-self: start;
  margin-bottom: 30px;
}

.read-more-module-companyInfo__establishment {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row: 3;
  font-size: 1.6rem;
  align-self: start;
}

.read-more-module-companyInfo__establishmentYear--size {
  font-size: 1.9rem;
  font-weight: 600;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row: 4;
  justify-self: start;
  align-self: start;
}

.read-more-module-companyInfo__industry {
  grid-column-start: 9;
  grid-column-end: 11;
  justify-self: start;
  font-size: 1.6rem;
  align-self: start;
  grid-row: 3;
}

.read-more-module-companyInfo__industryDescription--size {
  font-size: 1.9rem;
  font-weight: 600;
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row: 4;
  align-self: start;
  justify-self: start;
}

.red-more-module-servicesProvided__technologyIcon--size {
  height: 70px;
}

.red-more-module-servicesProvided {
  padding-left: 390px;
  padding-right: 390px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 2fr);
  margin-top: 8rem;
}

.red-more-module-servicesProvided__title {
  grid-column: 3 /10;
  grid-row-start: 1;
  grid-template-columns: auto;
  font-family: "Montserrat", sans-serif;
  color: #323232;
  font-size: 1.6rem;
  font-weight: 500;
}

.red-more-module-servicesProvided__body {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 10;
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  color: #323232;
}

.red-more-module-servicesProvided__technology {
  grid-column-start: 3;
  grid-column-end: 10;
  grid-row-start: 3;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #323232;
}

.red-more-module-servicesProvided__technologyIcon {
  grid-area: 4 / 3 / 4 / 10;
  grid-row-start: 4;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
